/* ===== Scrollbar CSS ===== */

*::-webkit-scrollbar {
    width: 5px;
  }

  *::-webkit-scrollbar-track {
    background: transparent;
  }

  *::-webkit-scrollbar-thumb {
    background-color: rgba(192, 192, 192, 0.562);
    border-radius: 10px;
  }